[2018-08-21 00:21] twillstudio opened #1 "Kalendar + Firebase database"
Hi everyone,

Ive 2 issues using this module with my firebase database.

First, the div "details-card" isn't being taken into account when im pulling appointments from my firebase database.

As you can see on the screenshot, appointments are being display, but when i'm using the following code in order to control what's inside the appointments blue rectangles, nothing is being display.

<img width

[2018-08-21 16:48] altinselimi commented on #1
Can you do this and let me know what it prints out
[code]

[2018-08-23 21:43] ItsRaWithTheH opened #2 "crypto.getRandomValues doesnt work on IE11"
For IE11
the use of crypto as a global variable doesnt work on IE11 as crypto exists not as window.crypto but as window.msCrypto.

this can be fixed by adding `const crypto = window.crypto || window.msCrypto;` to kalendar-container and kalendar-cell.

Note, that if later adding type definitions or for users using typescript, the msCrypto would have to be added
[code]

Other options could be using

[2018-08-23 23:07] altinselimi commented on #2
Great catch. Can you make a PR for that ?

I'd rather not use a polyfill, as I would prefer the size of this component to be as small as possible. I'm actually planning to remove date-fns from dependencies too. In an ideal world, this component should only require `portal-vue` and `vue`.

[2018-08-23 23:10] altinselimi commented on #1
@twillstudio did you solve this, or you still encountering this problem ?

[2018-08-24 10:40] twillstudio commented on #1
Hi Altin, If i write your code it displays as it is on my screenshot. Actually if i delete the div <div slot="details-card" slot-scope="{appointment_props}">, it still displays as it is on my screenshot. So no I didnt manage to solve it yet.

Thanks in advance.

[2018-08-24 13:27] altinselimi commented on #1
@twillstudio can you provide a little bit more information such as:
Browser version, Operating system and if there is any error in the console ?

[2018-08-27 17:40] #2 closed

[2018-08-27 19:53] altinselimi commented on #1
@twillstudio closing this for the moment. Feel free to open it whenever you can replicate it on codepen or have more information to provide.

[2018-08-27 19:53] #1 closed

[2018-08-30 18:54] ItsRaWithTheH opened #4 "Support switching between 24 and 12 hour time"
Feature Request:

Can we add a configuration parameter to switch between 12 hour and 24 hour time (1:00 pm vs 13:00 pm)?

[2018-08-30 20:11] #4 closed

[2018-08-31 03:09] redoc123 opened #6 "Not able to add kalendar-vue dependency (dependencies were not found)"
Created a new project cal with vue cli 3.0.0

then in HelloWorld.vue added the following:

import { Kalendar } from 'kalendar-vue';
import 'kalendar-vue/dist/kalendar-vue.css';

It gave me the following error:

[2018-08-31 08:02] altinselimi commented on #6
You need to change kalendar-vue.css to KalendarVue.css
Updated the naming but forgot to update it on the readme and changelogs.

[2018-08-31 08:27] redoc123 commented on #6
Thanks for quick response..

I already changed it but it still gives me the following error:

[code]

[2018-08-31 11:08] altinselimi commented on #6
@redoc123 can you please run
`npm install kalendar-vue@latest -S`
It should be working now.
_This happened because I renamed the main script without building the bundle and then publishing to NPM._

[2018-08-31 11:09] #6 closed

[2018-08-31 13:40] redoc123 commented on #6
thanks a bunch..it works now

[2018-09-03 10:24] danishfred opened #7 "missing modules"
I'm using vue as frontend with meteor and get this error after install npm i kalendar-vue -S:

"If you notice problems related to these missing modules, consider running:
  meteor npm install --save kalendar-vue"  over and over again

any suggestions ???

[2018-09-03 12:30] altinselimi commented on #7
make sure you have version 0.2.2 installed, and then let me know if it displays that error again
`npm install kalendar-vue@latest -S`

[2018-09-03 14:08] altinselimi commented on #7
`KalendarVue.css` is the correct filename. That is mentioned in the readme too.

Not sure how importing modules works in the current development environment you are sitting on, but I would suggest you try to import kalendar-vue module directly from this link:
`https://cdn.jsdelivr.net/npm/kalendar-vue@0.2.2/dist/KalendarVue.umd.min.js`
And the css from this one:
`https://cdn.jsdelivr.net/npm/kalen

[2018-09-03 19:25] #7 closed, assigned to nobody

[2018-09-05 11:23] boardmain opened #8 "click event"
hi how to handle the click on the event ?( for editing or delete it ) i tried to add @click to details-card but it will not be fired

[2018-09-05 15:38] altinselimi commented on #8
This is actually a bug, I will fix this and update here accordingly.

[2018-09-06 12:49] altinselimi commented on #8
@boardmain just published a new version which should fix this error. Please run `npm install kalendar-vue@latest -S` and check it out.
I also implemented appointment deletion in the demo page [here](https://kalendar.netlify.com/)
The code is available in the src/components/demo/Hello.vue at *details-card* slot.

[2018-09-06 12:49] #8 closed

[2018-09-25 08:09] pjadanowski opened #13 "different locale than en"
is there a possibility to use other languages than English for displaying calendar?

[2018-09-26 00:03] altinselimi commented on #13
Just merged #12 , that should probably meet your needs.

[2018-09-26 08:50] pjadanowski commented on #13
I meant displaying days of week and months in another language e.g for german Monday would be Montag, Tuesday -> Dienstag etc. The same for months e.g January-> Januar etc

[2018-09-26 10:00] altinselimi commented on #13
Yes, that is doable using slots that are introduced in #12 . Please check the [readme](
![image](https://user-images.githubusercontent.com/10469822/46072856-b36de380-c183-11e8-884f-bb7cb0c8e0f4.png)

[2018-09-26 10:01] altinselimi commented on #13
Yes that is doable using slots that #12 introduces. Please check the [readme](https://github.com/altinselimi/kalendar#date-representations)

[2018-09-26 10:01] #13 closed

[2018-09-26 11:42] pjadanowski commented on #13
can you show a short example because it seems to not take an effect

[2018-09-26 12:44] altinselimi commented on #13
Oops, forgot to publish. Please run `npm install kalendar-vue@latest` and check again, it should work now.

[2018-09-26 12:50] antooa opened #14 "Disabling hours"
Hello, how can I disable hours in the table? I just want to customize kalendar so I can assign some appointments for a whole day omitting hours. Thank you!

[2018-09-26 13:05] altinselimi commented on #14
That is not supported currently. But, you can get around it doing the following:
In the completeAppointment method (find it in the docs), change the *from* and *to* field hour values to 00:00 and 24:00 respectively. Whatever user clicks will create an all-day event.

[2018-09-26 13:50] antooa commented on #14
Sorry, I didn't get where to insert completeAppointment method. Into the 'export defaults'? Also, could you explain more about 'from' and 'to'? What do I have to change there and to what? I tried to put there "00:00" and "24:00" but nothing changed.

Also I don't understand how I can change height. It works only if I hardcode 'max-height' in <ul>hours . I tried wraping into the <div> but it also d

[2018-09-26 15:54] altinselimi commented on #14
You must completely read the readme (line by line) and then get back here and take a look at my message again. If you still don't understand please let me know.

[2018-09-26 15:54] #14 closed

[2018-10-01 20:58] satvikpendem opened #15 "Import CSS throws not found error"
When doing this step,
`import 'kalendar-vue/dist/KalendarVue.css';`

I get the error
`Module not found: Error: Can't resolve 'kalendar-vue/dist/kalendar-vue.css' in '/home/projectname/projectname/components'`

Is there another way to import them, or should I just download the CSS?

Also, when using `	<kalendar :configuration="calendar_settings" :appointments="appointments"/>`, is this all you need

[2018-10-01 21:08] altinselimi commented on #15
Can you try running `npm install -S kalendar-vue@latest` and let me know what happens ?

You can totally render the calendar with only that, but its recommended that you make use of slots to display the data you need, and add the forms you need for user to add the appointments.

[2018-10-01 21:40] satvikpendem commented on #15
I see, it's KalendarVue.css but on your website it's kalendar-vue.css. Now I'm getting an error about registering components, about an unknown custom element, but I included them in the App.vue file
[code]

[2018-10-02 06:01] altinselimi commented on #15
Your code looks good, I can't really help you further as I do not know about other components. You can check out the [Codepen] example for more info.

[2018-10-02 06:01] #15 closed

[2018-10-05 19:13] igormp opened #16 "Crash when creating event until end of day"
When trying to add an event that lasts until the end of the day (23:59:59), the whole thing just crashes. This is reproducible even in the demo (as seen bellow).

![mygif](https://user-images.githubusercontent.com/5247904/46555393-82935a00-c8b9-11e8-9ea2-de3cd0570e42.gif)

[2018-10-05 22:29] altinselimi commented on #16
I’ll be checking this tomorrow. Thanks for noticing.

[2018-10-17 19:10] ThiagoAugustoSM commented on #16
Did you solve this issue on the latest commit? @altinselimi

[2018-10-21 13:01] altinselimi commented on #16
@ThiagoAugustoSM @igormp I'm happy to announce that this bug has been fixed on version 0.2.7. Please test it and let me know if you encounter any problem ! 🎉

[2018-10-21 18:06] renato04 opened #17 "normalizeDate"
Hi!

I`m trying to use this compoment.
I already followed this repo tutorial and the codepen example. But i getting these errors:

```Failed to resolve filter: normalizeDate```
[code]

Is there something i'm forgeting to add to my app?

Thanks in advance.

[2018-10-21 18:28] altinselimi commented on #17
Can you please create a codepen example of what you are trying to achieve. Not much I can do from the information provided.

[2018-10-21 18:31] renato04 commented on #17
Thanks for the answer!

Here it is my component that is using the kalendar
[code]
And here is the console log
![image](https://user-images.githubusercontent.com/5497267/47270730-5a0c9080-d546-11e8-81d1-9a4f1a1660e4.png)

[2018-10-22 16:44] ThiagoAugustoSM commented on #16
Hey @altinselimi that's nice to hear! but i'm trying to use it, but it keeps not showing up the event. I just need to update the package in my package.json file, right? But it doesn't give an error anymore.

And also it keeps console.logging the values of the start and end date of what is being choose.

![screenshot](https://user-images.githubusercontent.com/19818077/47305638-7c62e480-d600-11e8-91

[2018-10-22 20:47] altinselimi commented on #16
Yeah the console log part is not good, should be fixed in the next minor version I push, but as far as the event popping right, its working just fine in codepen and the demo web itself. Maybe you can try to replicate it in the codepen example ?

[2018-10-23 14:29] altinselimi commented on #16
@igormp what browser are you using to replicate that ? I can't replicate it on codepen or live website. Can you also make sure you have cleared the cache ?

[2018-10-23 14:30] altinselimi commented on #16
@ThiagoAugustoSM you should not touch your package.json, you should run `npm install kalendar-vue@latest -S` instead. That will take care of updating the package.json file.

[2018-10-23 14:48] igormp commented on #16
Managed to replicate that on the live website and codepen with both Chrome 69.0.3497.100 and Firefox 62.0.3

Yes.

[2018-10-23 21:02] altinselimi commented on #16
@igormp is it by any chance a Windows OS ? If so, you guys will have to wait two weeks till my ssd arrives so I can start testing :/

[2018-10-23 21:39] igormp commented on #16
Nope, sorry for the misleading mouse cursor lol

[2018-10-25 17:00] ThiagoAugustoSM commented on #16
@altinselimi i have already run the _npm install kalendar-vue@latest -S_ and it still doesn't work. I'm using windows 10, and i have tested on Chrome Version 69.0.3497.100 and Firefox version Versão 62.0.3

[2018-10-25 21:06] altinselimi commented on #16
@ThiagoAugustoSM so you're having the same problem (not being able to select the last hour of the day), correct ?

[2018-10-27 14:29] andrewhl opened #18 "Week Navigator shows same date for start and end dates"
If you look at your [codepen example](https://codepen.io/altinselimi/pen/PdPLBZ), the start and end date in the week navigator is the same. I'm using that code as my starting point, and I'm not sure how to fix this.

[2018-10-27 17:19] andrewhl commented on #18
Figured it out. You need to set the `template` slots for "first-date" and "last-date":

[code]

You might want to indicate in the docs that `normalizeDate` can be implemented like so:

[code]

And that `format` (which is also used elsewhere in your sample code without definition) comes from the `date-fns` library.

[code]

[2018-10-27 19:29] andrewhl opened #19 "Disable event creation (i.e., read-only mode)"
Is it possible to have a read-only mode where event creation is disabled?

[2018-10-27 20:11] altinselimi commented on #19
Yeah I will add this feature. At the moment just add a pointer-events:none on the wrapper.

[2018-10-27 21:19] andrewhl opened #20 "Remove console.log in kalendar-cell.js"
In the `kalendar-cell` file you have a console.log statement that really spams the console:

[See here](https://github.com/altinselimi/kalendar/blob/master/src/components/kalendar/kalendar-cell.vue#L75)

Can you remove it? Thanks!

[2018-10-27 21:46] andrewhl commented on #19
That won't help me, because I want users to be able to click on and view events, without creating new ones. Admin users create events, other users sign up for them. That's the kind of behaviour I want to be able to support. Is that possible?

[2018-10-27 23:40] andrewhl commented on #20
I created a pull request #21

[2018-10-28 20:13] altinselimi commented on #19
@andrewhl this is added in the latest build. You can find it as a field (*read_only*) in configuration object. Make sure you have the latest version of kalendar installed running `npm install kalendar-vue -S`

[2018-10-28 20:13] #19 closed

[2018-10-29 12:50] renato04 commented on #17
@andrewhl  after i copied your example i'm still getting the `name` error.
![image](https://user-images.githubusercontent.com/5497267/47650793-19bd9b80-db60-11e8-8552-c8ab87b68feb.png)

Thanks for the help

[2018-10-29 15:51] andrewhl commented on #17
@renato04 Any chance you could create a codepen to reproduce the issue?

[2018-10-29 15:58] renato04 commented on #17
@andrewhl  i don't know how i can reproduce that error. I'm using this [admin](https://github.com/epicmaxco/vuestic-admin) as template. If you want, you can clone it and add the kalendar example, i think this will fail.

Thanks!

[2018-10-29 17:12] andrewhl commented on #17
@renato04 I created a sample repo based on the template, and installed Kalendar without any difficulties. You can see me repo [here](https://github.com/andrewhl/Vuestic-Kalendar). You can clone it and visit `http://localhost:8080/#/calendar` to see that it works juts fine. No errors.

The only thing I changed from your source code was:
[code]
to
[code]

[2018-10-30 13:55] renato04 commented on #17
@andrewhl Yes, it helped a lot. Maybe my fork is not updated from the master.
It worked here cloning your repo.
Thank you!

[2018-10-30 14:14] #17 closed

[2018-10-30 16:38] #20 closed

[2018-11-05 09:34] nidkil commented on #6
@altinselimi This works thx. The documentation is incorrect.

[2018-11-06 08:52] nidkil opened #22 "Overlapping events"
Hi Altin,

Excellent component! Really impressed.

I would like to make an enhancement and need your guidance where to start. The current implementation does not position events correctly if they overlap. They are positioned directly over each other. It would be if they would be positioned next to each other. In other words, that there width would be halved. If you would like to test this you can

[2018-11-06 08:59] nidkil opened #23 "Only events with start end time equal to the full hour supported"
Hi Altin,

I ran into a problem that events that do not start or end on the full hour throw an error (`Uncaught TypeError: r.getHours is not a function`). The problem seems to be the following line in kalendar-container.vue.

[code]

In the codepen you provide you can test this with the following event.

[code]

Regards, nidkil

[2018-11-06 09:02] nidkil opened #24 "Change period shown in day view"
Hi Altin,

I would like to make a change to the day view that it is possible to limit the period of the day that is displayed. Now it displays the full day. I would like to limit it to a specific period, i.e. business hours (8:00-17:00).

Can you please provide me with guidance how to best approach this change?

Regards, Stephen

[2018-11-06 09:07] nidkil opened #25 "Event time not positioned correctly"
Hi Altin,

I have noticed that the event time is not positioned correctly. It falls outside the event area. You can test this with the codepen you provide using the following event.

[code]

The fix is pretty straight forward, changing the `.existing-event .time` from `12px` to `50px`. See below.

[code]

Regards, nidkil

[2018-11-06 11:44] altinselimi commented on #24
Hey Stephen, this is a feature that is going to be implemented soon enough.
A possible workaround is to use css to hide the hours you don't want to show using the `nth-child` selector.
Example:
[code]

[2018-11-06 11:46] altinselimi commented on #22
Hey Stephen,
This is also a feature request. The groundwork is not yet there for overlapping events unfortunately.
There will be another version released before christmas that will be a rewrite from scratch, and then shortly after (a week or so) will be another version which will have features you have requested.

Thanks !

[2018-11-06 11:50] altinselimi commented on #23
@nidkil this is actually not a bug. The calendar uses the 'split_value' to create the cells. So if you add something like 1:30, you must make sure that 30%split_value === 0. That means you can set split value to 10 or 15 or 30, but by default its 20 so that's why it wasn't working.

As I mentioned all these will be fixed and released in the next version of Kalendar. Which is going to be next month

[2018-11-06 17:07] nidkil commented on #24
Cool trick. I forked and changed your Codepen to demonstrate this (https://codepen.io/nidkil/pen/JeYYGr). Thx.

[2018-11-06 17:08] nidkil commented on #22
A complete rewrite? Sounds interesting. Do you need help?

[2018-11-06 17:10] nidkil commented on #23
Ah missed that. It works. Thx!

I forked and changed your Codepen to demonstrate this (https://codepen.io/nidkil/pen/JeYYGr). I also made the event dates dynamic so that they are always displayed on the current date and made it possible to switch between day and month view.

[2018-11-07 07:58] nidkil commented on #24
Just noticed that the trick doesn't do the trick :-(

The bottom half of the schedule is not clickable, so it is not possible to add events. Any suggestions how I could get this to work?

[2018-11-07 10:36] altinselimi commented on #24
@nidkil here you go https://codepen.io/altinselimi/pen/OayGdW

[2018-11-07 10:36] #24 closed

[2018-11-07 12:50] nidkil commented on #24
Hi Altin, thx for the fix. It seems pretty sraight forward...

I have update my version to handle a 30 minute split as your update uses the 20 minute split, which causes the events to disapper. However I run into the same problem that the last cells are not clickable. I probably do not understand your comments correctly. I have updated your comments to reflect my understanding. Could you please do

[2018-11-12 03:39] PsyEnmanuel opened #26 "range dates view"
amazing design and functionalties.

I would like to know if i can change the range of hour of my calendar like from 8A.M. to 6P.M.

![range date](https://user-images.githubusercontent.com/24580192/48325018-030c4f80-e60a-11e8-80dc-ab4bae6853eb.PNG)

[2018-11-29 14:45] mesaglam opened #27 "A new view type?"
Hi, do you have any plan to add Year View?
Thanks for all...

[2018-12-20 20:28] AnellyDev opened #28 "enhancement "requests""
Hi, this looks like an amazing lib that I'll probably end up using, just have 2 things that would be cool if they could be implemented in the future, maybe in that rewrite you're doing right now, there's no hurry as I'm in early dev-stage of my project right now

1: on the week/day views (side note: why is the config for week view 'month'?) would it be possible to have a date/week-picker to select

[2018-12-21 20:39] nidkil commented on #23
@altinselimi how is the next version coming along? Still on schedule?

[2018-12-22 13:00] altinselimi commented on #23
Yeah, still working on it.

[2019-02-07 18:56] mathieutu commented on #24
For information, this tricks **doesn't work at all**.

Even in the codepen, you can see that the now bar isn't set properly, and the hours of event are not ok.

Let us hope that the next version will be release soon (as "before end of year holidays" is past now for 1 month).

[2019-02-08 01:22] bribar opened #29 "Navigation to Next or Previous Week Slow"
Sweet library! @altinselimi

One issue I noticed is that the navigation between weeks is really slow when I added to my project. It takes about 4-7 seconds to load the next week, no existing appointments. Initial load of the component is quick. Everything else seems to work fine. No console errors.

Any idea what might be causing this? Navigation throughout my project is fast. Just this component.

[2019-02-08 01:27] bribar commented on #29
`calendar_settings: {
                style: 'material_design', // ['flat_design', 'material_design']
                view_type: 'Month', // ['Month', 'Day']
                split_value: 60, // Value % 60 === 0
                cell_height: 20, // !isNaN(Value)
                scrollToNow: false, // Boolean
                current_day: new Date(), // Valid date
                military_time: false,

[2019-02-08 08:37] altinselimi commented on #24
@mathieutu that is true, but the new version is definitely coming soon. My open source contributing time is always dependent on my work schedule, and unfortunately its been a tight one the past couple months.

[2019-02-08 08:54] mathieutu commented on #24
@altinselimi Yeah of course, it's the same for all of us, but thanks for your answer, glad to read that!

[2019-02-08 09:00] altinselimi commented on #29
Yeah I am aware of that @bribar. Its because I am doing some heavy operations when things are changing, and since JS is a single threaded language, it is not a good idea, but the whole thing was kind of a POC for me.
So that is taken care of in the new version by putting these operations in a separate threads (Web Workers FTW 🍻), but currently it is going to be a bad experience for small split val

[2019-02-08 18:01] bribar commented on #29
What's an ETA on the new version? I won't hold you to it 😄 but I might need to find an alternative for my project if its to far out.

Is it possible to hook into the previous and next events in the new version? I would like to fetch events from a web service at that point instead of loading all in the beginning.

Are you open to contributors? I could use this in a project and we love to help enhan

[2019-02-12 22:13] disjfa opened #30 "Mobile view?"
Awesome component.

But i found a mobile view, checking on some mobile app agent. If we check the mobile views of the day there is no reason to check things like that. Maybe a media query to check the width of the browser. But i would prefer not to check those, Phones and tablets are wider than most modern desktops when checking.
https://www.w3schools.com/howto/howto_js_media_queries.asp

I just r

[2019-02-17 16:32] croossin commented on #22
@altinselimi Any updates on overlapping events?

[2019-02-24 05:59] croossin opened #31 "Mobile view add calendar event"
I’m unable to add a calendar event via the mobile view.  Is there planned support for this feature?

[2019-02-24 23:47] croossin commented on #22
@altinselimi Do you know when that release might happen?

[2019-03-01 09:52] mgarcia96 opened #32 "More documentation"
Hey, could you please add more documentation? Options, etc...

[2019-03-17 00:28] altinselimi commented on #32
Hey @mgarcia96 I am currently working on the second version (checkout the v2 branch).
I had to mostly rewrite it from scratch as the initial version was not good to build up on.

After I finish it, I will be writing a detailed documentation.

[2019-03-17 00:28] #32 closed

[2019-03-17 00:32] altinselimi commented on #22
@croossin @nidkil The rewrite is mostly done. Overlapping events is finally supported. Couple other requested features will be supported too. You can check it out v2 branch anytime you wish.

Not ready for public use yet though. I think it is fair to assume that it will happen sometimes next week.

[2019-03-17 00:32] #22 closed

[2019-03-17 00:34] altinselimi commented on #23
@nidkil Finally caught some breath and had the opportunity to do some heavy work on the plugin rewrite. This bug will not be present ever again after v2 release :)

[2019-03-17 00:34] #23 closed

[2019-03-17 00:37] altinselimi commented on #28
@PippinSmith Hi Pippin, thanks for the input. Truth is current state of this library prevents feature additions like this.
But I have made good progress on its rewrite, making sure to lay out good foundation so feature like this can be implemented.
Look out for the v2 release in the following days :)

[2019-03-17 00:43] altinselimi commented on #27
Not in the plan currently.
Main idea behind this library is providing the user with an intuitive way of creating events.
You will always have the updated events array in your parent component.
That should make it possible for anyone to create a year-view for their application.

To put it more simply, it is very easily achievable, but I can't take more on my plate at the moment.
The new version of

[2019-03-17 00:43] #27 closed

[2019-03-19 01:58] coderabsolute commented on #29
@altinselimi I understand you are busy, but just wondering when are you estimating to release the next version after this POC? :)

[2019-03-19 08:55] altinselimi commented on #29
@bribar @coderabsolute 90% of the new version is implemented in the v2 branch. You can check it out for yourselves. Plan is to release it to the wild next Wednesday.

[2019-04-09 14:32] mgarcia96 opened #33 ""TypeError: from.getHours is not a function""
![image](https://user-images.githubusercontent.com/6561770/55808713-ed318680-5ae4-11e9-81cb-4afcac0821a6.png)

I don't know why it's crashing all time!

[code]

[2019-04-10 12:27] odelmas commented on #33
this was already aswered in issue 23 https://github.com/altinselimi/kalendar/issues/23

[2019-04-10 12:45] odelmas opened #34 "adjusting split_value responsively"
Hi, I was wondering if I can upgrade the way split_value is handled recently.

Right now, in order to avoid problems in displaying appointments in my Calendar,
split_value is always equal to the greatest common divisor between my appointments durations.

Meaning if I have appointments with duration 15 min and another one with duration 20 min, split_value will equal 5 so all the appointments can be

[2019-04-28 14:37] liudonghua123 opened #35 "Add start_hour/end_hour support"
The day view is always from 0 a.m. to 11 p.m. which is not always convenience, because we merely add event in the very early morning or too late in the night.
So I add start_hour/end_hour support to customize this behavior like the following snapshot.

![image](https://user-images.githubusercontent.com/2276718/56865926-26835500-6a06-11e9-807d-61f254689fc5.png)

[2019-04-28 14:56] liudonghua123 commented on #35
You can quick try it with `npm i -S liudonghua123/kalendar#add_start_end_hour_support_build`, and then settings like below.
[code]

[2019-05-20 09:06] Nayar commented on #31
Same here. Have you been able to get it to work?

[2019-06-04 16:34] JapSeyz opened #37 "Start week on monday"
Hi, is it possible to start the week on monday, it's the customary way to display a calendar in Europe.

Cheers

[2019-06-04 17:10] JapSeyz commented on #37
Datefns startOfWeek accepts an object of params which can set this:

https://date-fns.org/v1.30.1/docs/startOfWeek

[2019-06-05 22:37] JapSeyz opened #38 "Set start-date"
Hi, I am unsure whether or not this is possible yet, but something like the ability to always have today's date as the left-most date and only see forwards in the calendar.

Cheers

[2019-06-20 16:25] abderrahmen13 opened #39 "the calendar shows only one event per hour"
if there are two events with the same date and the same hour, the calendar display only one event

[2019-07-03 16:38] altinselimi commented on #31
@croossin @Nayar are you not able to use the + botton in the right bottom of the screen ?

[2019-07-03 16:38] altinselimi commented on #35
@liudonghua123 this was added in v2. Do check it out at kalendar.altinselimi.com.

[2019-07-03 16:38] #35 closed

[2019-07-03 16:42] altinselimi commented on #38
Hey @JapSeyz , nice idea.
This shouldn't be hard to implement. I am already doing something similar for hide_days and hide_dates. Check out `./src/components/kalendar/workers/worker.js` line 33 and see if you can work something out.

[2019-07-04 05:02] liudonghua123 commented on #35
@altinselimi, Thanks, 😃

[2019-07-18 23:40] jesusLM94 commented on #38
Is this feature implemented yet? I saw it in the demo and there is a feature to hide days and set a start/end date.

https://kalendar.altinselimi.com/#getting-started

[2019-07-26 14:40] jesusLM94 commented on #38
Hello there, @altinselimi. Thanks for your amazing work, I really like Kalendar. Could you please build the project and publish a new version? 🙏

[2019-08-05 15:01] mgarcia96 opened #43 "Disable selection on a published event"
Hello! I want to put just one item every hour! How can I disable that, because now, I can select and save items at the same hour

![image](https://user-images.githubusercontent.com/6561770/62474223-b3c30c00-b7a2-11e9-8c07-d139dfb048be.png)

[2019-08-05 16:57] AnellyDev commented on #43
My quick-fix suggestion would be to intercept this in the creation function
( `completeAppointment` in the readme) but I'm no expert.

On Mon, Aug 5, 2019, 17:01 Marc Garcia Torrent <notifications@github.com>
wrote:

[2019-08-06 02:05] rd1571 opened #44 "Remove Kalendar hours time and conflict with boostrap.css (v4.2)"
1. Is there a way that I could remove the hours time and just display 1 row for adding event?

2. There is conflict with my bootstrap v4.2 and kalendar.css ?

![image](https://user-images.githubusercontent.com/11959780/62505925-24b10500-b831-11e9-881d-7a39dd91a543.png)

[2019-08-13 19:48] altinselimi commented on #44
@rd1571
1. I don't really understand the question. If you remove the hours how would the user create the event ?
2. Can you create a reproducible jsfiddle or something ?

[2019-08-13 19:49] altinselimi commented on #43
@mgarcia96  In the configuration object there is a field called `overlap`. Send that as false and it will prevent creating events in the same timeframe !

[2019-08-13 19:50] altinselimi commented on #43
Btw @mgarcia96 is the plugin working on your end ? I am having problem using v2 since the web worker is being required incorrectly ?

[2019-08-13 19:52] altinselimi commented on #38
Hi @jesusLM94,
Thank you for your kind workds. I have completed implementation of the library but I am having problems with publishing it since web workers are not being bundled inline. Follow this issue to be updated:
webpack-contrib/worker-loader#212

[2019-08-14 01:54] rd1571 commented on #44
@altinselimi  I am creating 1 event per day.

[2019-08-14 09:20] mgarcia96 commented on #43
I don't try it yet! Thanks for the info!!

[2019-08-16 14:37] jmuc-msm opened #45 "when I place the component in one of my nuxt.js views I get the following error (Cannot set property 'getEvents' of undefined)"
<img width="1536" alt="Captura de Pantalla 2019-08-16 a la(s) 10 33 12 a  m" src="https://user-images.githubusercontent.com/20538818/63175253-a531eb80-c011-11e9-9874-bf4011c0680b.png">
<img width="959" alt="Captura de Pantalla 2019-08-16 a la(s) 10 36 54 a  m" src="https://user-images.githubusercontent.com/20538818/63175370-dc080180-c011-11e9-9e58-6c5df85ad3ab.png">
<img width="370" alt="Captura d

[2019-09-17 11:35] altinselimi opened #46 "Webpack worker-loader not bundling workers using provided options"
This is resulting in a failure when trying to import the library from node_modules after installing it using npm.

[2019-09-17 11:37] #18 closed

[2019-09-17 11:37] altinselimi commented on #18
This is fixed in the new version. Check out the new options in the readme of the library.

[2019-09-17 11:38] altinselimi commented on #16
This is fixed in latest version.

[2019-09-17 11:38] #16 closed

[2019-09-17 11:38] altinselimi commented on #25
Should be fixed in the last version. Do reopen if you manage to reproduce it.

[2019-09-17 11:38] #25 closed

[2019-09-17 11:39] #29 closed

[2019-09-17 11:40] altinselimi commented on #30
Hey @disjfa it would be great to have the touch events implemented but I'm not yet sure how we could go ahead with that. The v2 is merged to master and it should be fairly easy to start the server and development environment.

[2019-09-17 11:41] #33 closed

[2019-09-17 11:41] altinselimi commented on #33
This should not happen in the new version as we deprecated the split_value option. Any time provided should be fine now.

[2019-09-17 11:42] altinselimi commented on #37
This is fixed in the new version.

[2019-09-17 11:42] #37 closed

[2019-09-17 11:42] altinselimi commented on #39
Yes it is supported now.

[2019-09-17 11:42] #39 closed

[2019-10-04 19:47] disjfa commented on #30
It is not the touch events that you should worry about. The selector is already working a bit i see. The touch/drag for mobile you should skip because you cannot scroll when you want. The only problem i see now is a double creation of appointments that is happening now.

Base this is making the base work. Maybe i will see what happens soon to check some things.

[2019-10-22 12:33] 2535049762 opened #47 "please check this error, thx"
![image](https://user-images.githubusercontent.com/15008282/67285981-25da0000-f50b-11e9-9a70-6a1dcfdc9ad5.png)
![image](https://user-images.githubusercontent.com/15008282/67286021-37230c80-f50b-11e9-9eba-cee18adbd540.png)
![image](https://user-images.githubusercontent.com/15008282/67286046-41dda180-f50b-11e9-8b71-ff6cc1ac39a9.png)

[2019-11-23 11:55] mgarcia96 opened #49 "KalendarVue.common.0.worker.js 404 (Not Found)"
What's this? Is a new project with sample data...

[2019-11-23 12:11] mgarcia96 commented on #45
Same here, you solved that?

[2019-11-23 13:10] mgarcia96 opened #50 "How to do new events Hourly?"
Hey, when you select the hours for doing an event, you can choose with 10 min range, what if I only want hourly or 30 minutes rang?

[2019-11-23 19:49] mgarcia96 opened #51 "Events loaded via Ajax not showing"
Hey, the events that has loaded via axios are not loading, the kalendar has the events but they are not showing.

![image](https://user-images.githubusercontent.com/6561770/69484370-bec5a900-0e32-11ea-999e-ed0e327e9c47.png)

[2019-11-24 09:08] altinselimi commented on #45
This is an issue with worker-loader. Until I solve it you should copy the kalendar component from the repo into your /src/components folder.

[2019-11-24 09:10] altinselimi commented on #51
Can you provide a codesandbox or some code I could look at ?

[2019-12-03 21:19] magarrent opened #52 "TypeError: Cannot read property 'distance' of null"
Hey there, it appears when (Ex):

day_starts_at: 8
day_ends_at: 22

And the actual time is more than 22!

[2020-01-26 10:59] mgarcia96 commented on #50
No news?

[2020-01-26 11:04] altinselimi commented on #50
No, this is a feature request so it may take a bit longer.
Also, currently I'm focused on fixing the web worker issue which is preventing the use of this library straight from NPM.

[2020-01-26 11:06] mgarcia96 commented on #50
Hm okay, and there is any quick fix that can I implement? Like change in some js 10 minutes for a 60 minutes manually

[2020-01-26 12:09] altinselimi commented on #50
Unfortunately no, there's no quick fix. From the top of my head, you would have to introduce a config option for minimum_selection and use that in KalendarCell.vue to check whether the cell we are hovering on should be selected.

[2020-01-26 14:54] mgarcia96 commented on #50
Hm, and where I can find the function that makes the selection?

[2020-01-31 08:24] bilalceyylan commented on #47
I'm getting the same error

[2020-02-27 11:12] yummyo commented on #47
![image](https://user-images.githubusercontent.com/29514211/75439533-efb6fc00-5994-11ea-80eb-386eca76c648.png)
在main.js 中添加图中一行代码。即可

[2020-02-28 01:21] yummyo commented on #49
我在我的项目中也碰到了这个问题，有什么办法解决吗？

[2020-03-05 23:13] altinselimi commented on #49
@mgarcia96 @yummyo its an issue with bundler and publishing a library that uses web workers. Currently the only workaround is to clone the project and use the `./components/kalendar` inside your project. Sorry, but haven't had much luck trying to find a solution :/

[2020-03-05 23:13] #49 closed

[2020-03-07 12:01] altinselimi commented on #52
Can you create a reproducable codesandbox or jsfiddle link or something I could debug this on ? Also, update to latest version of the library, it should work directly now.

[2020-03-07 12:01] altinselimi commented on #51
Any case, try a this.$forceUpdate after the ajax is done. Closing this as inactive.

[2020-03-07 12:01] #51 closed

[2020-03-07 12:02] altinselimi commented on #50
kalendar-cell.vue in the methods

[2020-03-07 12:02] #50 closed

[2020-03-07 12:03] altinselimi opened #54 "Add support for minimum cell(s) selection"
Have an option that users can use to determine what is the lowest allowed time selection .e.x: 5 minutes, 10 minutes etc.

[2020-03-07 12:03] altinselimi commented on #47
@yummyo @bilalceyylan @2535049762 install the latest version of the library. It should work directly now.

[2020-03-07 12:03] #47 closed

[2020-03-07 12:04] altinselimi commented on #46
Fixed in #53 🥳

[2020-03-07 12:04] #46 closed

[2020-03-07 12:05] altinselimi commented on #45
@mgarcia96 @jmuc-msm install the latest version of the library. It should work now.

[2020-03-07 12:05] #45 closed

[2020-03-07 12:06] altinselimi commented on #44
@rd1571 you can use the new hide_days option to hide days that you don't need.

[2020-03-07 12:06] #44 closed

[2020-03-07 12:07] #43 closed

[2020-03-07 12:07] altinselimi commented on #38
@jesusLM94 @JapSeyz The new version addresses this issue and should now work as expected :)

[2020-03-07 12:07] #38 closed

[2020-03-07 12:08] altinselimi commented on #34
This issue should not happen in the new Kalendar version 2 since it handles all time durations.

[2020-03-07 12:08] #34 closed

[2020-03-07 12:08] #31 closed

[2020-03-07 12:09] #30 closed

[2020-03-08 20:21] mgarcia96 commented on #50
@altinselimi can you provide more info? What I've to do?

[2020-03-08 21:01] altinselimi commented on #50
Dig up the code there and let me know if you have any questions.

[2020-03-18 21:21] tomscytale opened #58 "Event cards are blank"
I have set up a simple project and am pulling data from Google Calendar and passing it to Kalendar.

Kalendar creates event cards in the right places on the calendar but they are all blank. See attached image.
![kalendar-empty-events](https://user-images.githubusercontent.com/912257/77008548-4002f780-695e-11ea-945e-09010b624125.png)

[code]

[2020-03-18 23:46] #58 closed

[2020-03-21 17:09] altinselimi opened #63 "Split current day from configuration"
Split current_day from configuration and provide it as a separate prop. In the same time remove the need for .sync modifier on kalendar props.

[2020-03-22 20:27] tripflex opened #65 "demo doesn't work"

[2020-05-01 08:53] johnymahony opened #67 "TypeError: Cannot read property 'some' of undefined"
If I click into the cell, to create new event, I got error.
TypeError: Cannot read property 'some' of undefined
    at VueComponent.clearCreatingLeftovers

![calendar2](https://user-images.githubusercontent.com/2997318/80794344-01d23800-8b9a-11ea-9dc9-182eee779466.PNG)
![calendar](https://user-images.githubusercontent.com/2997318/80794345-03036500-8b9a-11ea-985e-97016c20eac9.PNG)

[2020-05-04 20:15] KillDozerX2 commented on #65
I had the same issue

[2020-05-09 19:09] altinselimi commented on #67
This is now fixed. It was a bug caused by a PR I merged a while back. Try it once more !

[2020-05-09 19:09] #67 closed

[2020-05-09 19:09] altinselimi commented on #65
@tripflex @KillDozerX2 give it another go !

[2020-05-09 19:09] #65 closed

[2020-06-01 21:50] bvergara87 opened #69 "[Demo] Time formatting broken on demo"
If you drag to create a new event from bottom to top after 12PM the times for the events are wrong.

![Screen Shot 2020-06-01 at 2 50 33 PM](https://user-images.githubusercontent.com/11671477/83458361-45c59080-a417-11ea-9d06-7480799d4ca6.png)

[2020-07-22 19:34] leon-developer-br opened #72 "Any support for i18n?"
Hi, this library has any support for i18n?

[2020-07-23 09:26] leon-developer-br opened #73 "Calendar is only render without error between day_starts_at and day_ends_at values"
Hi,

The Kalendar here is configured to permit event between 8 an 22 hours for example. If I try to render the Kalendar outside this window, I catch this error:
[code]

[2020-07-29 12:23] frentrop opened #74 "scss is not scoped"
The scss is not scoped, causing problems with styling when embedding Kalendar in a website.

[2020-07-29 12:33] frentrop opened #75 "Changing the cell height breaks the hour indicator"
When changing the cell height, the hour indicator does not scale accordingly, resulting in an incorrect position of the indicator. This also affects the scrollToNow, as this function focusses on the hour indicator.

Attached is a screenshot with this issue. At the time of the screenschot it is 14:25, while the hour indicator shows it's about 20:45.

![image](https://user-images.githubusercontent.c

[2020-08-03 16:25] altinselimi commented on #75
Good catch !

[2020-08-03 16:26] altinselimi commented on #74
I'll be moving all css to main.css and nest it under .kalendar-wrapper. That should do it.

[2020-08-03 16:29] altinselimi commented on #72
All text in Kalendar is customized either by `options` methods, or by `slots`. If you need i18n, you should be able to customize the essential parts of it.

[2020-08-03 16:29] #72 closed

[2020-08-03 16:31] altinselimi commented on #73
I am guessing these events are coming from another source ? If so, you should be able to `.filter` out these elements before assigning them to the Kalendar object.

[2020-08-03 16:31] #73 closed

[2020-08-11 23:49] DnCherepanov opened #77 "Unexpected Token Export when using nuxt js"
"Unexpected token export" error is thrown immediately when reloading the page with Kalendar component.

[2020-08-14 04:42] DrJfrost opened #78 "Adding Colors to Events"
I wanted to congratulate the great work this lib has and how good the slots were thought.

Also I would like to note that A nice feature would be the ability to add colors to the events, since having many events can be confusing, maybe 5 or 10 colors? just like Mystudylife Schedule looks :smile: I think it would add a lot of value to the library and would be easy to add like some css classes?

[2020-09-02 13:01] pkerspe commented on #51
I have the same issue here, updating events array does not cause the calendar to update, also call to $forceUpdate() does not help.

Locking at the code what is done with the property value:
**kalendar-container.vue / line 273:**
[code]
The array from the property seems to get cloned / mapped thus the reference is lost if I get it right.
Also no code to watch the property values seems to be in pla

[2020-09-02 14:17] pkerspe commented on #51
as a rather dirty workaround I forced re-rendering of the complete DOM Sub tree for the calendar, by removing it from the DOM, updating the events-array and then adding it back in.
Obviously this is not a solution you want to go with in production. Currently I do not see another way without modifying the kalendar Component itself.

Is there any example that shows how to add events by code and "inj

[2020-11-01 11:40] WaelRabah opened #80 "Kalendar won't update when I update the events prop ."
![s2 (1)](https://user-images.githubusercontent.com/47258198/97801730-0fe33d00-1c3f-11eb-9c3b-8076f77e15d5.png)

when I update events in the state  , Kalendar doesn't update .

and when I try to add events manually this is what appears in the kalendar :

![Screenshot from 2020-10-31 22 16 03](https://user-images.githubusercontent.com/47258198/97801756-3d2feb00-1c3f-11eb-9902-6e6a5699e0f6.png)

I d

[2020-11-24 13:57] #80 closed

[2021-01-08 15:39] mgarcia96 commented on #54
Any news on this?

[2021-01-28 09:20] ShaikAsif007 commented on #7
i used your cdn files as am not using node js or web package in my current project am not sure how to import the code it says

vue.js:634 [Vue warn]: Unknown custom element: <kalendar> - did you register the component correctly?

when i load my index.html

[2021-03-11 11:12] altinselimi commented on #78
@DrJfrost that can be easily achieved with the scoped slots this library already offers ! But I don't think its worthy feature for this library. Im trying to keep it as simple as possible, as calendars are already very much complicated 🤪

[2021-03-11 11:12] #78 closed

[2021-03-11 11:12] altinselimi commented on #77
I have no experience with NuxtJS unfortunately. Were you able to resolve the issue ?

[2021-03-25 02:43] DnCherepanov commented on #77
Issue solved. That was due to client render option in Nuxt import config.

[2021-03-25 02:44] #77 closed

[2021-04-06 11:53] altinselimi commented on #7
@ShaikAsif007 0.2.2 is old version, try using the new version

[2021-04-08 00:01] GrnPero opened #86 "Am I able to use this web application in a commercial product?"
Hello! I was wondering if I can use kalendar in a commercial web application?

[2021-05-03 14:17] altinselimi commented on #86
Yes

[2021-05-03 14:17] #86 closed

[2021-06-13 09:33] gitgkk opened #94 "Unable to run kalendar"
Hi,

I cloned the source, installed packages but on executing 'npm run serve'
D:\workspace\vue\kalendar>npm run serve

 ERROR  Error: Cannot find module '@babel/compat-data/corejs3-shipped-proposals'
Require stack:
- D:\workspace\vue\kalendar\node_modules\@babel\preset-env\lib\polyfills\corejs3\usage-plugin.js
- D:\workspace\vue\kalendar\node_modules\@babel\preset-env\lib\index.js
- D:\workspace\v

[2021-07-02 07:47] altinselimi commented on #94
I have no idea what this is, can you try making a replica of your problem on codesandbox ?

[2021-08-14 21:24] franklin113 commented on #94
I fixed this by updating babel in the config.json
`        "@babel/core": "^7.9.0",
        "@babel/preset-env": "^7.9.0",`

[2021-08-24 14:50] altinselimi commented on #94
so we can consider this closed then. Thanks @franklin113 !

[2021-08-24 14:50] #94 closed

[2021-10-06 05:22] umerdev228 opened #97 "Time Zone issue and Some Appointments are missing after 12PM"
Hello,
Kalendar showing accurate time on codepen or other JS playground but wrong in project and some slots or appointments after 12:00pm are not showing
![Screenshot_1](https://user-images.githubusercontent.com/75834709/136144973-1efbddb0-051c-43bd-8500-575b1a98cb5f.png)
.

[2021-10-11 10:22] altinselimi commented on #97
In other words, the library doesn't have issues with moment/moment-timezone. Its just that it requires a specific date format for displaying dates. And also outputs a specific format which you have to take into account when storing/updating dates.

[2021-10-11 10:22] #97 closed, assigned to nobody

[2021-10-30 14:40] trannguyen33398 opened #100 "How to deploy it on an apache serrver ?"
I try to deploy it on aws light sail server. But when I run npm run build, the CSS and HMTL are not generated, and the page show empty.

[2021-11-03 12:53] altinselimi commented on #100
This is not a library issue

[2021-11-03 12:53] #100 closed

[2021-12-20 08:28] Fusseldieb commented on #52
Also facing this issue. If the time pointer is less or more than the specified times, I get a distance error and the calendar doesn't get rendered anymore.

[2022-01-11 08:44] altinselimi commented on #52
@Fusseldieb I don't understand that. Time pointer referencing to what ?

[2022-01-11 08:46] altinselimi commented on #52
@Fusseldieb so if I understand correctly, you want to render calendar only from 8 to 22. But there are events that are earlier or later than 08/22... Is that correct ?

[2022-01-27 17:00] Fusseldieb commented on #52
If the **time** is earlier than 8 or later than 22, it breaks.

[2022-01-28 21:38] altinselimi commented on #52
You should be able to reproduce this in a codepen or something so I could give this a proper analysis @Fusseldieb

[2022-04-20 10:00] xlcrr commented on #54
Daily cell selection would also be great

[2022-06-10 16:48] xlcrr opened #112 "Weekly navigator is 1 day wrong"
This also effects the demo

Note that Monday and the first date in between the arrows are 1 day apart

![Screenshot 2022-06-10 at 17 47 40](https://user-images.githubusercontent.com/25985241/173113645-8d27ba93-ae7f-4ce4-8f4f-cb86ebd012f2.png)

Is there a way to overwrite these values?

[2022-06-13 08:24] altinselimi commented on #112
@xlcrr thanks for the bug report. Currently there's no slot for populating week navigator.

[2022-07-28 14:23] xlcrr commented on #112
Hi @altinselimi would it be possible to generate the correct date for the weekly navigator for all projects?

[2022-07-29 09:01] #112 closed